.box {
    width: 500px;
}


input {
    width: 300px;
    border-radius: 5px;
}

select {
    width: 300px;
    border-radius: 5px;
}

button {
    width: 120px;
    height: 40px;
    background-color: darkcyan;
    color: white;
    border: none;

}